public-hoist-pattern[]=vitest
public-hoist-pattern[]=@vitest/*
public-hoist-pattern[]=vite-node
public-hoist-pattern[]=eslint
public-hoist-pattern[]=@typescript-eslint/*
public-hoist-pattern[]=semver
